<!DOCTYPE html>
<html>
	<head>
		<title>Books Home</title>
	</head>
	<body>
		<div id="containers">
			<div id="main_content">
				<a href="/books/add">Add Book and Review</a>
				<form action="/logout" method="post">
					<input type="submit" value="Logout">
				</form>
				<h3>Welcome, {{ user.alias }}</h3>
				<h4>Recent Book Reviews:</h4>
				{% for review in recent_reviews %}
					<a href="/books/{{ review.book_id }}" style="display:block;">{{ review.title }}</a>
					<div class="rating">
						{% for i in range(review.rating) %}
							<p style="display:inline-block;">*</p>
						{% endfor %}
					</div>
					<a href="/users/{{ review.id }}">{{ review.reviewer }}</a>
					<p style="display:inline-block;">says: {{ review.message }}</p>
					<p>Posted on: {{ review.created_at }}</p>
				{% endfor %}
				<h4>Other Books with Reviews:</h4>
				{% for book in books_with_reviews %}
					<a href="/books/{{ book.book_id }}">{{ book.title }}</a>
				{% endfor %}
			</div>
		</div>
	</body>
</html>